body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:30px;
}

.container{
    width:80%;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#2c3e50;
    margin-bottom:20px;
}

.form{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-bottom:25px;
}

input{
    padding:10px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:12px;
    background:#27ae60;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#219150;
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

th{
    background:#3498db;
    color:white;
}

tr:nth-child(even){
    background:#f2f2f2;
}